<section id="grsp_content">
  <div class="container sixteen colgrid">
    <%= render :partial => "/layouts/user_info" %>
    <!--row ends-->
    <%= render :partial => "/super_admin/merchants/details" %>
  </div>
  <!--container ends-->
</section><!--grsp_content ends-->             O