<div class="main">
  <div class="container">
    <div class="row margin-bottom-40">
      <div class="col-md-9 col-sm-9">
        <h1>Privacy Policy</h1>

        <div class="content-page">

          <p>We take extra cautiousness about privacy issues and want you to be familiar with how we collect, use and
            disclose Personal Information (as defined below). This Privacy Policy describes our practices in connection
            with privacy and the Personal Information that is uploaded through the application “Hookah Butler”, the
            related mobile sites and mobile application(s), and selected other domains (collectively, the "Sites").
            Except as indicated below, this Privacy Policy does not address the collection, use or disclosure of
            information by us or by third parties on any websites other than the Sites. As used in this Agreement,
            "Hookah Butler," "we," "us," and "our" shall mean Hookah Butler LLC.
            By accessing and/or using the application, you agree to all the terms and conditions of this Privacy Policy.
            If you do not agree to all the terms and conditions of this Privacy Policy, do not use the application. We
            may change this Privacy Policy from time to time and without prior notice, except that if we make a material
            change, we will notify you prior to the effective date of the change. Changes to this Privacy Policy will be
            effective as soon as they are posted, unless a later Effective Date is provided. By continuing to access
            and/or use the Sites after the Effective Date of a revised Privacy Policy, you agree to be bound by the
            revised Privacy Policy. For clarity, if you do not agree to the new terms of the Privacy Policy, do not
            continue using the application. The most current version of this policy will always be posted on the
            application.
            1.What Types of Information Do We and Our Third Party Service Providers Collect From You?</p>

          <h2>Personal Information</h2>

          <p><b>Personal Information</b> is information such as your name, tied to a postal address, telephone number,
            email address, and date of
            birth, or other data that, when taken together, can uniquely identify you. Personal Information also
            includes certain sensitive information related to your finances or, for business accounts, related to the
            finances of your employer, such as a credit card number or other payment account number (including the three
            (3) or four (4) digit validation code for your credit card). In order for you to take advantage of the
            services provided through the application, we may require that you furnish Personal Information or, for
            business accounts, that your employer furnish Personal Information for you. We and our third party service
            providers collect your Personal Information when you voluntarily provide it to us or, for business accounts,
            when your employer provides it to us.</p>

          <h2>Non-Personal Information (or "Non-PII")</h2>

          <p><b>Non-Personal Information (or "Non-PII")</b> is aggregated information, demographic information and any
            other information that does not uniquely identify you. We and our third party service providers may collect
            your Non-Personal Information, including information about the device you are using in accessing and/or
            using the Sites, information from referring websites, and your interaction with the Sites. We and our third
            party service providers may also aggregate Personal Information in a manner such that the end-product does
            not uniquely identify you or any other user of the Sites, for example, by using Personal Information to
            calculate the percentage of our users who have a particular telephone area code. This collective information
            constitutes Non-Personal Information.</p>


          <h2>Cookies and Other Technology</h2>

          <p><b>Cookies and Other Technology</b> A cookie is a small piece of data that is sent by Hookah Butler to your
            Internet browser and stored on your device hard drive, and that delivers information about you and your
            activity on the application. If you do not want information collected through the use of cookies, there is a
            simple procedure in most browsers that allows you to decline the use of cookies. Some browsers allow you to
            indicate that you would not like your online activities tracked, using “Do Not Track” indicators; we use
            this technology to better serve you with more tailored information and to facilitate your ongoing use of the
            application.</p>

          <h2>IP Addresses are the Internet Protocol addresses of the computers that you are using</h2>

          <p>Your IP Address is automatically assigned to the computer that you are using by your Internet Service
            Provider (ISP) and is identified and logged automatically in our server log files whenever you visit the
            Sites, along with the time(s) of your visit(s) and the page(s) of the Sites that you visited. Collecting IP
            Addresses is standard practice on the Internet and is done automatically by many websites.</p>

          <h2>Location Information</h2>

          <p>We may obtain information about your physical location, such as by use of GPS and other geolocation
            features in your device, or by inference from other information we collect. For example, your IP Address
            indicates the general geographic region from which you are connecting to the Internet.

          <p>

          <p>2.How Do We and Our Third Party Service Providers Use Information Collected From You?</p>

          <h2>Personal Information</h2>

          <p>We and our third party service providers may use your Personal Information and any third party’s Personal
            Information that you may provide, as applicable:</p>

          <p>
          <ul>
            <li>to process your registration on our Sites, including verifying your information to ensure its accuracy
              and validity.
            </li>
            <li>to fulfill your requests (e.g., to allow you to order through our restaurant partners and have it
              delivered to you, or to provide you with information that you request).
            </li>
            <li>to fulfill your purchases (e.g., to process credit card payments in connection with your food order).
            </li>
            <li>to customize content on our application (e.g., the locations that will deliver to your location).</li>
            <li>to send you important information regarding the application, such as certain changes to our terms,
              conditions, policies and/or other administrative information. Because this information may be material to
              your use of the Application, you may not opt out of receiving such communications.
            </li>
            <li>to inform you of products, programs, services and promotions that we believe may be of interest to you
              and to permit you to participate in sweepstakes, contests and similar promotions (collectively,
              "Promotions").
            </li>
            <li>to permit you to refer us to your friends so that we may send them a promotional offer through the
              Sites. If you wish to use this feature, you may be required to provide us with, and we may use, your
              friend's name and email address. By using this functionality, you affirm that you are entitled to use and
              provide us with your friend's name and email address for this purpose. We will not use your friend's
              Personal Information for any purpose other than to allow a promotional offer to be sent and/or to
              troubleshoot any issues with respect such promotional offer, unless we disclose such other purpose to you
              at the time you provide your friend's Personal Information to us.
            </li>
            <li>for our internal business purposes, such as data analysis, audits, developing new products, enhancing
              our application, improving our services, identifying usage trends and determining the effectiveness of our
              promotional campaigns.
            </li>
            <li>for our internal business purposes, such as data analysis, audits, developing new products, enhancing
              our application, improving our services, identifying usage trends and determining the effectiveness of our
              promotional campaigns.
              for purposes disclosed at the time you provide your Personal Information or as otherwise set forth in this
              Privacy Policy.
            </li>
          </ul>
          </p>
          <h2>Non-Personal Information.</h2>

          <p>Because your Non-Personal Information does not personally identify you, we and our third party service
            providers may use such information for any purpose. For example, we may work with third parties for the
            purpose of advertisement delivery on the application, including online behavioral advertising (“OBA”) and
            multi-site advertising. The Non-Personal Information collected about your visits to the application may be
            used by third parties in order to provide advertisements about goods and services of interest to you. These
            third parties may also set cookies or web beacons to assist with advertisement delivery services. </p>

          <p>3.How Do We and Our Third Party Service Providers Share Your Personal Information With Others?</p>

          <p>We and our third party service providers may disclose Personal Information:</p>

          <p>
          <ul>
            <li>to provide services, or to enable third party service providers to provide services, such as payment
              processing, website hosting, data analysis, infrastructure provisioning, IT services, customer service,
              email delivery services, and other similar services.
            </li>
            <li>to third parties such as attorneys, collection agencies, tribunals or law enforcement authorities
              pursuant to valid requests in connection with alleged violations of Hookah Butler’s Terms of Use or other
              alleged contract violations, actual or alleged infringement, actual or suspected harm to persons or
              property, or alleged violations of laws, rules or regulations.
            </li>
            <li>to detect, prevent or otherwise address actual or suspected fraud, security or technical issues, and to
              verify your purchase to holder(s) of any credit card(s) or other payment account(s) used to place order(s)
              through your account.
            </li>
            <li>as required to fulfill your order (e.g., to our merchant partners to enable them to fulfill your
              order).
            </li>
            <li>to identify you to any person to whom you send messages through the application.</li>
            <li>to third party sponsors of Promotions (irrespective of whether such Promotions are hosted by us), or
              otherwise in accordance with the rules applicable to such Promotions. You should carefully review the
              rules, if any, of each Promotion in which you participate, as they may contain additional important
              information about our, a sponsor's and/or other third parties' use of your Personal Information. To the
              extent that the rules of those Promotions concerning the treatment of your Personal Information conflict
              with this Privacy Policy, the rules of those Promotions shall control.
            </li>
            <li>to an affiliate or other third party in the event of any reorganization, merger, sale, joint venture,
              assignment, transfer or other disposition of all or any portion of our business, assets or stock
              (including without limitation in connection with any bankruptcy and/or similar proceedings).
            </li>
            <li>as we believe to be appropriate: (a) under applicable law, including laws outside your country of
              residence; (b) to comply with legal process; (c) to respond to requests from public and government
              authorities, including public and government authorities outside your country of residence; (d) to enforce
              our terms and conditions; (e) to protect our operations and/or those of any of our affiliates; (f) to
              protect our rights, privacy, safety and/or property, and/or that of our affiliates, you and/or others; (g)
              to permit us to pursue available remedies and/or limit the damages that we may sustain; and (h) for
              recordkeeping purposes.
            </li>
          </ul>
          </p>
          <p>4.Other Important Notices Regarding Our Privacy Practices.</p>

          <h2>Third Party Sites</h2>

          <p>Except as expressly set forth herein, this Privacy Policy does not address, and neither we nor our third
            party service providers are responsible for, the privacy, information or other practices of other websites
            and/or any third parties, including without limitation any of our affiliates and/or any third party
            operating any site to which the application contains a link. The inclusion of a link to a third party
            website on the Sites does not imply endorsement of the linked site by us or by our affiliates. Please note
            that your access and/or use of any third party websites, including by providing any information, materials
            and/or other content to such sites, is entirely at your own risk.</p>

          <h2>Security</h2>

          <p>We and our third party service providers use reasonable organizational, technical and administrative
            measures to protect Personal Information under our control. However, no data transmission over the Internet
            or data storage system can be guaranteed to be 100% secure. Please do not send us credit card information
            and/or other sensitive information through email. If you have reason to believe that your interaction with
            us is not secure (for example, if you feel that the security of any account you might have with us has been
            compromised), you must immediately notify us of the problem by contacting us in accordance with the
            "Contacting Us" section below.</p>

          <h2>Changing Personal Information</h2>

          <p>You may review, correct and/or update certain elements of your Personal Information by adjusting your
            preferences in the "profile" section of Hookah Butler. We and our third party service providers are not
            responsible for altering Personal Information from the databases and/or other records of third parties with
            whom we and our third party service providers have shared your Personal Information.</p>

          <h2>Retention Period</h2>

          <p> We and our third party service providers will retain Personal Information for the period reasonably
            necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is
            required or permitted by law.</p>

          <h2>Note Regarding the Use of the Application by Children</h2>

          <p>Under no circumstances are the Sites directed to and/or intended for use by individuals under the age of
            Eighteen (18). Such individuals are prohibited from using the Application and should not provide Personal
            Information through the Sites.</p>

          <h2>Disclaimer</h2>

          <p>If you choose to access the Application, you do so at your own risk, and are responsible for complying with
            all applicable laws, rules and regulations. We may limit the availability of the Sites, in whole or in part,
            to any person, geographic area and/or jurisdiction we choose, at any time and in our sole discretion. By
            using the Application and submitting any Personal Information, you consent to the transfer of Personal
            Information to other countries, which may provide a different level of data security than your country of
            residence provides.</p>

          <h2>Contacting Us</h2>

          <p>If you have any questions regarding this Privacy Policy, please contact us by email at
            <a href="mailto:support@Hookahbutler.com"><b>support@Hookahbutler.com</b></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="pre-footer">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--&lt;!&ndash; BEGIN BOTTOM ABOUT BLOCK &ndash;&gt;-->
<!--<div class="col-md-3 col-sm-6 pre-footer-col">-->
<!--<h2>About us</h2>-->

<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut-->
<!--laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl-->
<!--aliquip commodo consequat. </p>-->

<!--<p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 pre-footer-col">-->
<!--<h2>Information</h2>-->
<!--<ul class="list-unstyled">-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Delivery Information</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Customer Service</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Order Tracking</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Shipping & Returns</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contact Us</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Careers</a></li>-->
<!--<li><i class="fa fa-angle-right"></i> <a href="javascript:;">Payment Methods</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; END INFO BLOCK &ndash;&gt;-->

<!--&lt;!&ndash; BEGIN TWITTER BLOCK &ndash;&gt;-->
<!--<div class="col-md-3 col-sm-6 pre-footer-col">-->
<!--<h2 class="margin-bottom-0">Latest Tweets</h2>-->
<!--<a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading-->
<!--tweets by @keenthemes...</a>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 pre-footer-col">-->
<!--<h2>Our Contacts</h2>-->
<!--<address class="margin-bottom-40">-->
<!--35, Lorem Lis Street, Park Ave<br>-->
<!--California, US<br>-->
<!--Phone: 300 323 3456<br>-->
<!--Fax: 300 323 1456<br>-->
<!--Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>-->
<!--Skype: <a href="skype:metronic">metronic</a>-->
<!--</address>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-6 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="social-icons">&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->