<div class="col-md-2">
  <div class="form-group">
    <label class="control-label">User Name</label>
    <%= select_tag("coupon_code[promotion_code_user_id]", options_for_select(["All", ""] + @users.all.map { |user| [user.email, user.id] }),:multiple => true, :class => "chosen-select") %>
  </div>
</div>
<script>
    $(".chosen-select").chosen({width: "95%"});
</script>
