<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <%#= link_to image_tag("hookah-butler-logo.png", :class => "zip_logo_img"), "", :class => "zip_logo" %>
      <img src="/assets/hookah-butler-logo.png" alt="Hookah Butler" class="zip_logo">
      <div class="menu-toggler sidebar-toggler hide">
      </div>
    </div>
    <a data-target=".navbar-collapse" data-toggle="collapse" class="menu-toggler responsive-toggler" href="javascript:;">
    </a>

    <!--<div class="top-menu">-->
      <!--<ul class="nav navbar-nav pull-right">-->
        <!--<li class="dropdown dropdown-user">-->
          <!--<a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#">-->
            <!--<span class="username">-->
            <%#= current_user.email %>
    <!--</span>-->
            <!--<i class="fa fa-angle-down"></i>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<a href="/super_admin/profiles/profile">-->
                <!--<i class="icon-user"></i>Edit Profile </a>-->
            <!--</li>-->
            <!--<li class="divider">-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/sign_out">-->
                <!--<i class="icon-key"></i> Log Out </a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>

