<div class="row">
  <div class="sixteen columns cntent_in">
    <div class="bredcrums">
      <div class="lefter">
        <%= render_breadcrumbs :separator => ' / ' %>
      </div>
      <div class="righter"><p>HELLO </p><span><%= current_user.full_name.upcase %></span></div>
    </div>
    <!--bredcrums ends-->
  </div>
  <!--cntent_in ends-->
</div>
<!--row ends-->